.navbar {
  display: flex;
  height: 75px;
  background-color: blue;
}

.logo {
  color: white;
  font-size: 30px;
  display: flex;
  position: absolute;
  top: 25px;
  left: 40%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 100%;
}

.Home,
.Pagne_Getzner,
.Nos_chaussure,
.Jeans_teeshirt,
.Qui_somme_nous,
.Contact,
.Signup {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 20px;
  margin: 0 0px;
  cursor: pointer;
}

.Signup {
  border: 1px solid chartreuse;
  border-radius: 10px;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 780px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgba(0, 0, 255, 0.552);
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }

  .Home,
  .Pagne_Getzner,
  .Nos_chaussure,
  .Jeans_teeshirt,
  .Qui_somme_nous,
  .Contact,
  .Signup {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .mobile-menu-icon {
    display: flex;
    margin: 1%;
    font-size: 60px;
    color: white;
    background-color: blue;
    border: none;
    outline: none;
  }
}
